In [1]:
l=[[1,2,3],[4,5,6],[7,8,9]]

In [9]:
k=[1,2,8,4,5,10,7,3,0]

In [5]:
m=k.sort()

In [7]:
print(m)

None

In [12]:
print(k.sort())

None

In [13]:
prime_numbers = [11, 3, 7, 5, 2]

prime_numbers.sort()

print(prime_numbers)

[2, 3, 5, 7, 11]

In [14]:
k=[1,2,8,4,5,10,7,3,0]
k.sort()
print(k)

[0, 1, 2, 3, 4, 5, 7, 8, 10]

In [15]:
k

[0, 1, 2, 3, 4, 5, 7, 8, 10]

In [36]:
a=[3,6,-5,2,4,-2,1,5,-8]
def m(a):
    a.sort()
    pr1= a[-1]*a[-2]*a[-3]
    pr2=a[0]*a[1]*a[-1]
    ma=max(pr1, pr2)
    return ma
print(m(a))

240

In [35]:
print(m(a))

-40

In [25]:
print('avijit')

avijit

In [29]:
def maxProd(a):
    a.sort()
    return max(a[-1]*a[-2]*a[-3],a[0]*a[1]*a[-1])

In [31]:
print(maxProd(a))

240

In [37]:
def foo():
    return "Hello, world"
print(foo())

def prod(lis):
    maxi=0
    for x in lis:
        p=1
        for i in x:
            p*=i
            maxi=max(p,maxi)
    return maxi
l=[[1,2,3],[4,5,6],[7,8,9]]
print(prod(l))

Hello, world
504

In [42]:
s=[]
for i in range(4,15):
   s.append(i)

In [43]:
s

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [44]:
for j in s:
    j%2!=0:

SyntaxError: invalid syntax (1516967741.py, line 2)

In [45]:
l=[4,10,5,3,3]
i=3
j=3
ans=0
for i in range(i,j+1):
    ans+=l[i]
print(ans)

3

In [46]:
print('avijit')

avijit

In [47]:
num1=5
num2=3

In [48]:
num3=num1+num2

In [49]:
num3

8

In [55]:
print('sum of {0} and {1} is {2}'.format(num1,num2,num3))

sum of 5 and 3 is 8

In [51]:
print("Sum of {0} and {1} is {2}" .format(num1, num2, sum))

Sum of 5 and 3 is <built-in function sum>

In [52]:
number1 = input("First number: ")
number2 = input("\nSecond number: ")
 
# Adding two numbers
# User might also enter float numbers
sum = float(number1) + float(number2)
 
# Display the sum
# will print value in float
print("The sum of {0} and {1} is {2}" .format(number1, number2, sum))

First number: 25

Second number: 33
The sum of 25 and 33 is 58.0

In [54]:
nu1=input()
nu2=input()
su=float(nu1)+float(nu2)
print("su {0} and {1} is {2}:".format(nu1,nu2,su))

25
66
su 25 and 66 is 91.0:

In [59]:
def maximum(a, b, c):
  
    if (a >= b) and (a >= c):
        largest = a
  
    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c
          
    return largest
largest

NameError: name 'largest' is not defined

In [57]:
print(largest)

NameError: name 'largest' is not defined

In [61]:
a = 10
b = 14
c = 12
print(largest)

NameError: name 'largest' is not defined